* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.country {
  display: flex;
  justify-content: center;
  align-content: center;
}
.country-flag {
  margin-right: 15px;
}

body {
  background-image: linear-gradient(to bottom left, #e9cae1, #51be49);
  height: 100vh;
}

.App .countryCount {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  color: #fff;
}

.App input {
  min-width: 400px;
  min-height: 30px;
  margin: 0 10px 0 10px;
  border-radius: 10px;
  border: none;
}

.App button {
  padding: 0 30px;
  min-height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.App .countries {
  margin-top: 50px;
}
