* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

body {
  background-image: linear-gradient(to bottom left, #e9cae1, #51be49);
  min-height: 100vh;
  padding-bottom: 50px;
}

.App .countryCount {
  font-size: 14px;
  font-weight: 500;
  min-height: 30px;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  margin: 10px 0;
  color: #fff;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.App .searchBox {
  min-width: 400px;
  min-height: 30px;
  margin: 0 10px;
  border-radius: 5px;
  border: none;
}

.App .searchBox:focus {
  outline: none;
}

.App .button {
  padding: 0 30px;
  outline: none;
  border: none;
  min-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 16px;
}

.App .countries {
  margin-top: 50px;
}
